<!DOCTYPE html>
<html lang="en">
<head>
    <title>uDonor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" type="text/css"  href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    
</head>
<body>

    <div class = "my-container">

        <div class = "left">
            <div class = "logo">
                <img height = "120px" widht = "120px" src = "images/icon.png">
            </div>


            <div class = "userInfo">
                <img height="100px" width="100px" style = "margin-left: 102px;" src = "images/profile_pic.jpg">
                <h2 style = "margin-left: 102px;"> Jone Doe</h2><br><br>
            </div>
            <div class = "lboard">
                <a href = "#">About US</a><br><br>
                <a href = "#">Know About Causes</a><br><br>
                <a href = "#">Leaderboard</a><br>
            </div>
        </div>

        <div class = "right">
            <div class = "top">
                <div class = "text">
                    <h3>Donate For A Positive Change</h3>
                </div>
                <div class = "button-campaign">
                    <button>Create Campaign</button>
                </div>
            </div>

            <div class = "mid">
            
                <div class = "cards-container">
                    <div class = "card" style="margin-left: 50px;">
                      
                        <div class = "pic">
                                <img src = "images/ngo.png">
                        </div>

                        <div class = "text" style="padding-bottom: 10px;">
                           <h3 style = "text-align:center;">NGO</h3>
                        </div>

                    </div>
                </div>

                <div class = "cards-container">
                        <div class = "card" style="margin-left: 50px;">
                          
                                <div class = "pic">
                                        <img src = "images/ogh.png">
                                </div>
        
                                <div class = "text" style="padding-bottom: 10px;">
                                    <h3 style = "text-align:center;">Old Age Home</h3>
                            </div>
    
                            
                        </div>
                    </div>
    

                    <div class = "cards-container">
                            <div class = "card" style="margin-left: 50px;">
                              
                                    <div class = "pic">
                                            <img src = "images/pm.png">
                                    </div>
            
                                    <div class = "text" style="padding-bottom: 10px;">
                                        <h3 style = "text-align:center;">PM Fund</h3>
                                </div>
        
                                
                            </div>
                        </div>
        
            </div>

            <div class = "bottom">

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>