<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Leader Board </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel = "stylesheet" href="css/styles.css">

        <style>
          .n{
            height: 100vh;
          }
          body{
            overflow: hidden;
          }
        </style>
    </head>
    <body>  
           
                    <div class="row">
                            <div class="col n" style="background:#1167b1">
                            

                              <div class = "logo">
                                <img height = "120px" widht = "120px" src = "images/icon.png">
                            </div>
                
                
                            <div class = "userInfo">
                                <img height="100px" width="100px" style = "margin-left: 102px;" src = "images/profile_pic.jpg">
                                <h2 style = "margin-left: 83px;"> Jone Doe</h2><br><br>
                            </div>
                            <div class = "lboard">
                                <a href = "#">About US</a><br><br>
                                <a href = "#">Know About Causes</a><br><br>
                                <a href = "http://localhost:3000/leaderboard">Leaderboard</a><br>
                            </div>
                            </div>
                      <div class="col-7" >
                          
                            <table class="table" >
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">Rank</th>
                                        <th scope="col">Name</th>
                                        <th scope="col-">Donation Made</th>
                                      </tr>
                                    </thead>
                                    
                            <%data.forEach((data,index)=>{%>
                               
                                    <tbody>
                                      <tr>
                                        <td><%=index+1%></td>
                                        <td><%=data.name%></td>
                                        <td><%=data.donation%></td>
                                      </tr>
                                      
                                    </tbody>
                
                            <%});%>
                            </table> </div>
                            <div class="col" ></div>
                     
                      
                    </div>
                </div>
                       
                          
                          
                      
            
            
      
        
        <script src="" async defer></script>
    </body>
</html>