html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .my-nav{
    height: 10vh;
    margin-bottom: 4px;
    position: relative;
}

.nav-block{
    position: absolute;
    width: auto;
    right: 0;
}
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

  #right-panel select, #right-panel input {
    font-size: 15px;
  }

  #right-panel select {
    width: 100%;
  }

  #right-panel i {
    font-size: 12px;
  }
  
  #map {
    height: 100%;
    float: left;
    width: 30%;
    height: 30%;
  }
  #right-panel {
    margin: 20px;
    border-width: 2px;
    width: 20%;
    height: 400px;
    float: left;
    text-align: left;
    padding-top: 0;
  }
  #directions-panel {
    margin-top: 10px;
    background-color: #FFEE77;
    padding: 10px;
    overflow: scroll;
    height: 174px;
  }

  .mycontainer{
      width: 50vw;
      height: auto;
      border: 1px solid red;
  }